.intro {
    .imageContainer {
        position: relative;
        width: 100vw;
        height: fit-content;

        display: flex;
        justify-content: center;
        align-items: end;

        .header {
            width: 100%;
            height: auto;

            align-self: start;
            // object-fit: cover;
            // object-position: center;
        }

        .logo {
            position: absolute;

            width: 35vw;
            height: auto;

            align-self: center;
            left: 5em;
        }

        .title {
            position: absolute;

            padding: 20px;
            border-radius: 50px;

            color: #FBD9A2;
            z-index: 1;
            margin-bottom: 4%;

            h1 {
                font-size: 5em;

                @media (max-width: 900px) {
                    font-size: 3em;
                }

                text-align: center;
                text-shadow: 0 0 80px rgba(0, 0, 0, 1),
                0 0 80px rgba(0, 0, 0, 1);
            }
        }
    }
}