.heading {
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "GRAD" 0;

    color: #FBD9A2;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.1em;
}