.platforms {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;

    .title {
        text-align: center;
        padding: 5rem 0%;
    }

    .cardContainer {
        display: flex;

        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3% 0%;
        margin: 0% 5%;

        .hline {
            height: 1px;
            background: radial-gradient(circle, #37DCFF, #000000);
        }

        .card {
            width: 400px;
            height: fit-content;

            .cardBlock {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                overflow: hidden;
                user-select: none;
                height: 33rem;

                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 10px;

                padding: 3rem 0;

                h1 {
                    margin: 3rem 0px;
                    z-index: 1;
                }

                p {
                    color: white;
                    padding: 0% 10%;
                    font-size: 1.2rem; //23px;
                    z-index: 1;
                }

                .lineEffect {
                    position: absolute;
                    background-color: rgba(255, 255, 255, 0.118);
                    filter: blur(20px);

                    width: 600px;
                    height: 50px;

                    transform: rotateZ(45deg) translateY(350px);
                    transition: transform 1s ease;
                }

                &:hover .lineEffect {
                    transform: rotateZ(45deg) translateY(-350px);
                }
            }
        }
    }
}