$primaryColor: #FBD9A2;

.header {
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "GRAD" 0;

    color: $primaryColor;
    text-transform: uppercase;
    font-weight: bold;
}