.aboutUs {
    width: 100vw;
    height: 620px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;

    align-items: center;

    padding: 0% 10%;

    @media (max-width: 1000px) {
        padding: 0% 0%;
        gap: 0%;

        img {
            display: none;
        }
    }

    .texts {
        width: 36%;

        @media (max-width: 1500px) {
            width: 50%;
        }

        h1 {
            text-align: center;
            font-size: 38px;

            padding-bottom: 5%;
        }
    }
}